[mysqld]
skip-host-cache
skip-name-resolve
max_connections=512
default_authentication_plugin=mysql_native_password
character-set-server=utf8mb4
collation-server=utf8mb4_general_ci
explicit_defaults_for_timestamp=true
lower_case_table_names=1
log_error=/logs/err.log
log_bin=/logs/binlog
